@use "../variables" as *;

.composition {
  position: relative;
  &__photo {
    width: 55%;
    box-shadow: $box-shadow;
    border-radius: .5rem;
    position: absolute;
    z-index: 10;
    transition: all .2s ease-out;
    outline-offset: .7rem;
    &_n1 {
      top: 7rem;
      right: 0;
    }

    &_n2 {
      left: 11rem;
      top: 14rem;
    }

    &_n3 {
      top: 0;
      left: 0;
    }

    &:hover {
      outline: 1rem solid $color-brown-light;
      transform: scale(1.1);
      z-index: 20;
    }
  }
  &:hover &__photo:not(:hover) {
    transform: scale(.9);
  }
}
