@use "../variables" as *;

.title-first {
  line-height: 1.2;
  color: $color-white;
  margin-bottom: 5rem;
  &__main {
    display: block;
    font-weight: 800;
    font-size: 5rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    animation: LeftToRight 2s 1s ease;
    backface-visibility: hidden;
  }

  &__secondary {
    display: block;
    font-weight: 100;
    font-size: 4rem;
    letter-spacing: 0.5rem;
    animation: RightToLeft 2s 1s ease;
    backface-visibility: hidden;
  }
}

.title-secondary {
  display: inline-block;
  text-align: center;
  font-size: $font-size-paragraph-h2;
  font-weight: 800;
  letter-spacing: 1rem;
  text-transform: uppercase;
  background: linear-gradient(90deg, rgba($color-brown-light, 0.7) 0.03%, rgba($color-brown-dark, 0.7) 99.94%);
  background-clip: text;
  color: transparent;
  transition: all .7s ease-out;
  backface-visibility: hidden;
  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: $shadow-h2
  }
}

.title-third {
  font-weight: 700;
  font-size: $font-size-paragraph-h3;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.paragraph {
  font-weight: 400;
  font-size: $font-size-paragraph;
  line-height: 1.4;
  letter-spacing: 0.2rem;
}
