@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?2hm2ga");
  src: url("../fonts/icomoon.eot?2hm2ga#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?2hm2ga") format("truetype"), url("../fonts/icomoon.woff?2hm2ga") format("woff"), url("../fonts/icomoon.svg?2hm2ga#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Vector:before {
  content: "\e900";
}

.icon-Vector-1:before {
  content: "\e901";
}

.icon-Vector-2:before {
  content: "\e902";
}

.icon-Vector-3:before {
  content: "\e903";
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  padding: 5rem;
  color: #777777;
  background-color: #f7f7f7;
}

.container {
  background-color: #f7f7f7;
  position: relative;
  z-index: 0;
}

@keyframes BtnToUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes LeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes RightToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.title-first {
  line-height: 1.2;
  color: #ffffff;
  margin-bottom: 5rem;
}
.title-first__main {
  display: block;
  font-weight: 800;
  font-size: 5rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  animation: LeftToRight 2s 1s ease;
  backface-visibility: hidden;
}
.title-first__secondary {
  display: block;
  font-weight: 100;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  animation: RightToLeft 2s 1s ease;
  backface-visibility: hidden;
}

.title-secondary {
  display: inline-block;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 800;
  letter-spacing: 1rem;
  text-transform: uppercase;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(161, 79, 3, 0.7) 99.94%);
  background-clip: text;
  color: transparent;
  transition: all 0.7s ease-out;
  backface-visibility: hidden;
}
.title-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.title-secondary_white {
  color: #ffffff;
}

.title-third {
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.paragraph {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: 0.2rem;
}

.text-align-center {
  text-align: center;
}

.margin-bottom-10px {
  margin-bottom: 1rem;
}

.margin-bottom-30px {
  margin-bottom: 3rem;
}

.margin-bottom-50px {
  margin-bottom: 5rem;
}

.margin-bottom-80px {
  margin-bottom: 8rem;
}

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #777777;
  position: relative;
  padding: 1.5rem 4rem;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  border-radius: 5rem;
  background-color: #ffffff;
  transition: all 0.3s ease;
  border: none;
}
.btn:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
}
.btn:hover::after {
  opacity: 0;
  transform: scale(1.5, 1.7);
}
.btn:active {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
}
.btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.6s;
}
.btn_animated {
  animation: BtnToUp 2s 0.7s ease-out;
  animation-fill-mode: backwards;
}

.btn_brown {
  background-color: #a14f03;
  color: #ffffff;
}
.btn_brown::after {
  background-color: #a14f03;
}

.btn-text:link, .btn-text:visited {
  display: inline-block;
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: #ba8554;
  padding: 1rem;
  border-bottom: 0.1rem solid #a14f03;
  transition: all 0.3s ease;
}
.btn-text:hover {
  background-color: #ba8554;
  color: #ffffff;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  transform: translateY(-0.2rem);
}
.btn-text:active {
  transform: translateY(0);
}

.composition {
  position: relative;
}
.composition__photo {
  width: 55%;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  position: absolute;
  z-index: 10;
  transition: all 0.2s ease-out;
  outline-offset: 0.7rem;
}
.composition__photo_n1 {
  top: 7rem;
  right: 0;
}
.composition__photo_n2 {
  left: 11rem;
  top: 14rem;
}
.composition__photo_n3 {
  top: 0;
  left: 0;
}
.composition__photo:hover {
  outline: 1rem solid #ba8554;
  transform: scale(1.1);
  z-index: 20;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.9);
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.col-2-of-3 {
  width: calc(2 * (100% - 2 * 6rem) / 3 + 6rem);
}

.col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.col-2-of-4 {
  width: calc(2 * (100% - 3 * 6rem) / 4 + 6rem);
}

.col-3-of-4 {
  width: calc(3 * (100% - 3 * 6rem) / 4 + 2 * 6rem);
}

[class^=col-] {
  float: left;
}
[class^=col-]:not(:last-child) {
  margin-right: 6rem;
}

.header {
  position: relative;
  height: 95vh;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7), rgba(0, 0, 0, 0.7)), url("../../img/header-background.jpg") center/cover no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
.header__logo {
  position: absolute;
  width: 5.6rem;
  height: auto;
  top: 5rem;
  left: 5rem;
}
.header__box {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header__box_centered {
  margin: auto;
}

.section-about {
  padding: 8rem 0 15rem;
}

.section-adventure {
  padding: 21rem 0;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7), rgba(0, 0, 0, 0.7)), url("../../img/section-adventure.jpg") center/cover no-repeat;
  transform: skewY(7deg);
}
.section-adventure > * {
  transform: skewY(-7deg);
}

.section-tour {
  padding-top: 21rem;
  margin-bottom: 8rem;
}

.section-feedBack {
  padding: 8rem 0;
  position: relative;
}

.section-book {
  padding: 10rem;
  background: linear-gradient(90deg, #ba8554, #a14f03);
}

.adventure-card {
  padding: 2.5rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}
.adventure-card:hover {
  transform: scale(1.05);
}
.adventure-card__icon {
  font-size: 6rem;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(161, 79, 3, 0.7) 99.94%);
  background-clip: text;
  color: transparent;
  display: inline-block;
}

.card-tour {
  height: 50rem;
  perspective: 150rem;
  position: relative;
}
.card-tour__side {
  width: 100%;
  height: 100%;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.7s ease-in-out;
  backface-visibility: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.card-tour__side_back {
  background-color: green;
  transform: rotateY(180deg);
  background: linear-gradient(170deg, #ba8554, #a14f03);
}
.card-tour:hover .card-tour__side_front {
  transform: rotateY(-180deg);
}
.card-tour:hover .card-tour__side_back {
  transform: rotateY(0);
}
.card-tour__img {
  background-blend-mode: hard-light;
  height: 21rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  margin-bottom: 7rem;
}
.card-tour__img_1 {
  background: #a14f03 url("../../img/card-1.jpg") center/cover no-repeat;
}
.card-tour__img_2 {
  background: #a14f03 url("../../img/card-2.jpg") center/cover no-repeat;
}
.card-tour__img_3 {
  background: #a14f03 url("../../img/card-3.jpg") center/cover no-repeat;
}
.card-tour__title {
  font-size: 2.8rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  position: absolute;
  top: 17rem;
  right: 0;
}
.card-tour__span {
  background: linear-gradient(90deg, #ba8554, #a14f03);
  padding: 1rem 2rem 0.3rem 2rem;
}
.card-tour__span_2 {
  position: absolute;
  top: 3.4rem;
  right: 0;
  padding-bottom: 1rem;
}
.card-tour__descr ul {
  list-style: none;
  margin: 0 auto;
  text-align: center;
}
.card-tour__descr ul li {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  color: #777777;
  display: inline-block;
  border-bottom: 0.1rem solid #777777;
}
.card-tour__descr ul li:not(:last-child) {
  margin-bottom: 2rem;
}
.card-tour__backSide-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.card-tour__text_1 {
  font-weight: 300;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
.card-tour__text_2 {
  font-weight: 500;
  font-size: 6rem;
  letter-spacing: 0.2rem;
}

.feedBack-card {
  width: 85%;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  padding: 6rem;
  transform: skewX(345deg);
}
.feedBack-card > * {
  transform: skewX(-345deg);
}
.feedBack-card__img {
  width: 15rem;
  height: 15rem;
  background-color: green;
  float: left;
  border-radius: 50%;
  shape-outside: circle(50% at 50% 50%);
  margin-right: 4rem;
  overflow: hidden;
  position: relative;
}
.feedBack-card__img img {
  height: 100%;
  transform: scale(1.2);
  transition: all 0.5s;
}
.feedBack-card__name {
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  opacity: 0;
  transition: all 0.5s;
}
.feedBack-card:hover .feedBack-card__name {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.feedBack-card:hover img {
  transform: scale(1);
  filter: blur(0.3rem) brightness(70%);
}

.bg-video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  object-fit: cover;
}

.bg-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7), rgba(0, 0, 0, 0.7));
}

.book {
  height: 50rem;
  background: linear-gradient(115deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.8) 57%, rgba(186, 133, 84, 0.8) 57%, rgba(161, 79, 3, 0.9) 100%), url("../../img/bg-form.jpg") center/cover no-repeat;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  overflow: hidden;
}

.form {
  width: 60%;
  padding-top: 5rem;
  padding-left: 5rem;
}
.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__group:nth-child(4) {
  margin-bottom: 4rem;
}
.form__label {
  display: block;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  color: #777777;
  margin-left: 1.5rem;
  transition: all 0.3s ease-in-out;
}
.form__input {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  padding: 2rem 0 2rem 2rem;
  color: #000000;
  background-color: #ffffff;
  border: none;
  border-bottom: 0.3rem solid transparent;
  border-radius: 0.5rem;
  width: 75%;
  margin-bottom: 1rem;
}
.form__input:focus {
  outline: none;
  border-bottom: 0.3rem solid #66d763;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
}
.form__input:focus:invalid {
  border-bottom: 0.3rem solid #D76363;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3.8rem);
}
.form__group-radio {
  width: 45%;
  display: inline-block;
}
.form__input-radio {
  display: none;
}
.form__label-radio {
  cursor: pointer;
  position: relative;
  padding-left: 4rem;
}
.form__button-radio {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 0.5rem solid #a14f03;
  display: block;
  position: absolute;
  left: 0;
  top: -0.4rem;
}
.form__button-radio::after {
  content: "";
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background: #a14f03;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.2s all;
}
.form__input-radio:checked ~ .form__label-radio .form__button-radio::after {
  opacity: 1;
}

.footer {
  padding: 8rem;
  background-color: #333333;
}
.footer__logo {
  width: 12rem;
}
.footer__list {
  list-style: none;
  text-align: center;
}
.footer__item {
  display: inline-block;
}
.footer__item:not(:last-child) {
  margin-right: 5rem;
}
.footer__link:link, .footer__link:visited {
  color: #777777;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.footer__link:hover {
  transform: rotate(5deg) scale(1.2);
  color: #a14f03;
  text-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}

/*# sourceMappingURL=style.css.map */
