@use "variables" as *;

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: $font-size-paragraph;
  font-weight: 400;
  letter-spacing: 0.2rem;
  padding: 5rem;
  color: $color-gray;
  background-color: #f7f7f7;
}

.container {
  background-color: #f7f7f7;
}
